version: '3.8'

services:

  postgres:
    image: postgres:16
    container_name: postgres-minio
    restart: always
    environment:
      POSTGRES_DB: miniodb
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 20041116
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  minio:
    image: minio/minio:latest
    container_name: minio-server
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: 20041116
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data


volumes:
  postgres_data:
  minio_data:
